.habitCard {
  background-color: var(--secondary-colour);
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;
}

.habit {
  display: flex;
  gap: 24px;
}

.habitCheckbox {
  width: 30px;
  height: 30px;
  padding-left: 16px;
  align-self: center;
  transition: all 0.3s ease;
}

.habitContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.habitOptions {
  color: var(--main-background);
  border: none;
  font-weight: 700;
  background: none;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.habitName {
  font-weight: 700;
  color: var(--main-background);
  font-size: 2rem;
  margin: 0;
}

.habitStreak {
  color: var(--main-background);
  font-size: 1.4rem;
}
