/* #F4F4ED — main background
#0B3948 — primary text/type colour
#E71D36 — bad habits, alerts, pop elements
#416165 — navbar/secondary surfaces
#9FB1BC — muted shading, secondary text */

@import "@fontsource/geist";

:root {
  --main-background: #f4f4ed;
  --primary-text-colour: #0b3948;
  --pop-colour: #e71d36;
  --secondary-colour: #414165;
  --tertiary-colour: #9fb1bc;
  color: var(--primary-text-colour);
  font-family: "Geist", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.app-container {
  padding-top: 5rem;
  display: grid;
  grid-template-areas: "navbar" "habits";
  grid-template-rows: auto 6fr;
}

.nav-bar {
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  font-size: 2.4rem;
}

.grid-container {
  grid-area: habits;
  width: 70vw;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, 250px);
}
.form-container {
  border: 2px solid var(--secondary-colour);
  border-radius: 10px;
  aspect-ratio: 1/1;
  text-align: center;
  align-content: center;
}

.form-container p {
  font-size: 2.4rem;
}
