/* #F4F4ED — main background
#0B3948 — primary text/type colour
#E71D36 — bad habits, alerts, pop elements
#416165 — navbar/secondary surfaces
#9FB1BC — muted shading, secondary text */



@import "@fontsource/geist";
:root {
  --main-background: #f4f4ed;
  --primary-text-colour: #0b3948;
  --pop-colour: #e71d36;
  --secondary-colour: #414165;
  --tertiary-colour: #9fb1bc;

  color: var(--primary-text-colour);
  font-family: "Geist", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  border: 1px solid black;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

a {
  text-decoration: none;
  color: var(--primary-text-colour);
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 80vw;
    border: 1px solid blue;
}

.app-container > * {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
