html, body {
    margin: 0;
    padding: 0;
    height: 100%;

}

.navbar {
  background-color: antiquewhite;
  display: flex;
  justify-content: flex-end;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    width: 50vw;
    text-decoration: none;
}


.nav-links li {
    list-style: none;
    text-decoration: none;
}
