/* #F4F4ED — main background
#0B3948 — primary text/type colour
#E71D36 — bad habits, alerts, pop elements
#416165 — navbar/secondary surfaces
#9FB1BC — muted shading, secondary text */

@import "@fontsource/geist";
:root {
  --main-background: #f4f4ed;
  --primary-text-colour: #0b3948;
  --pop-colour: #e71d36;
  --secondary-colour: #414165;
  --tertiary-colour: #9fb1bc;
  color: var(--primary-text-colour);
  font-family: "Geist", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  width: 70vw;
  height: 80vh;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.habit-cell {
  background-color: var(--secondary-colour);
  border: 1px solid white;
  border-radius: 10px;
  aspect-ratio: 1/1;
}
