nav {
  background-color: antiquewhite;
  display: flex;
  justify-content: flex-end;
  height: 5vh;
}

.navLinks {
  margin: 0;
  height: 100%;
  display: flex;
}

.navLinks li {
  height: 100%;
  list-style: none;
}
.navLink {
    height: 100%;
    padding: 0 2rem;
    display: block;
    align-content: center;
}

.navLink:hover {
    background-color: grey;
}